<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header')%>
	</header>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner2.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">NOVEDADES</h1>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-mustang.webp" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Ford Mustang</h2>
							<p>El Ford Mustang es un automóvil deportivo icónico de la marca estadounidense Ford. Es conocido por su estilo musculoso y su potencia, con una carrocería de dos puertas y capacidad para cuatro pasajeros. Fue lanzado en 1964 y desde entonces ha pasado por varias generaciones, cada una con características distintivas y mejoras en rendimiento y tecnología. El Mustang es especialmente popular entre los entusiastas de los autos deportivos y las carreras.</p>
							<p>Comentarios: 'Hola muy bueno el auto'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-lamborghini.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Lamborghini</h2>
							<p>El Lamborghini es una marca de automóviles de lujo y alta gama conocida por sus vehículos deportivos exóticos y de alto rendimiento. Los Lamborghini son famosos por su diseño audaz y agresivo, su rendimiento de clase mundial y su exclusividad.</p>
							<p>Comentarios: 'Que buen auto.'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-cammaro.webp" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Cammaro</h2>
							<p>El Camaro es un automóvil deportivo fabricado por la marca estadounidense Chevrolet, propiedad de General Motors. Es un coupé de dos puertas con capacidad para cuatro pasajeros, y se caracteriza por su diseño musculoso y su potente motor. Fue lanzado en 1966 y ha pasado por varias generaciones, cada una con mejoras en rendimiento y tecnología. El Camaro es conocido por su capacidad de aceleración y velocidad, lo que lo convierte en un automóvil popular entre los entusiastas de los autos deportivos y las carreras.
								</p>
							<p>Comentarios: 'Muy bueno me encanto.'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-corvete.avif" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Corvete</h2>
							<p>El Corvette es un automóvil deportivo de la marca estadounidense Chevrolet, propiedad de General Motors. Es un coupé o convertible de dos puertas con capacidad para dos pasajeros, y se caracteriza por su diseño deportivo y su alto rendimiento. Fue lanzado en 1953 y ha pasado por varias generaciones, cada una con mejoras en rendimiento y tecnología. El Corvette es conocido por su potente motor y su agilidad en la carretera, lo que lo convierte en un automóvil popular entre los entusiastas de los autos deportivos y las carreras. También es un símbolo de la ingeniería y la tecnología automotriz estadounidense.x</p>
							<p>Comentarios: 'Muy bueno me encanto.'</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">MAS COMENTADOS</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-ferrari.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Ferrari</h2>
							<p>Ferrari es una marca italiana de automóviles deportivos y de lujo, conocida por su diseño elegante, alto rendimiento y prestaciones excepcionales. Fundada en 1947 por Enzo Ferrari, la empresa ha construido una reputación legendaria en el mundo del automovilismo y se ha convertido en un icono de lujo y exclusividad.</p>
							<p>Comentarios: 'Muy bueno me encanto.'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-pagani.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Pagani</h2>
							<p>Pagani es un fabricante italiano de automóviles de lujo y súper deportivos con sede en Modena, Italia. Fundada por Horacio Pagani en 1992, la marca se ha ganado una reputación mundial por su enfoque meticuloso en la artesanía, la innovación y la exclusividad en la fabricación de vehículos de alto rendimiento.</p>
							<p>Comentarios: 'Muy bueno me encanto.'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-mclaren.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Mclaren 765</h2>
							<p>El McLaren 765 es un automóvil deportivo de lujo fabricado por McLaren Automotive, un fabricante británico de automóviles con sede en Surrey, Inglaterra. Es parte de la serie de automóviles Super Series de McLaren y se basa en el chasis monocasco de fibra de carbono, que es una característica distintiva de los vehículos de McLaren.</p>
							<p>Comentarios: 'Muy bueno me encanto.'</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="../product">
						<figure class="product-box_image">
							<img class = 'imagenautos' src="images/products/img-bugatti.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Bugatti</h2>
							<p>Bugatti es una prestigiosa marca de automóviles de lujo y alto rendimiento con sede en Francia. Fundada en 1909 por Ettore Bugatti, la marca es conocida por producir algunos de los automóviles más rápidos, exquisitos y exclusivos del mundo.</p>
							<p>Comentarios: 'Hola muy bueno el auto'</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>

	</footer>
	<!-- /footer -->
</body>	
</html>