<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header')%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="procesar_formulario.php" method="post">
					<p>Elige una producto:</p>
					<input type="radio" name="opcion" value="opcion1" id="opcion1">
					<label for="opcion1">Ford Mustang</label><br>
					<input type="radio" name="opcion" value="opcion2" id="opcion2">
					<label for="opcion2">Lamborghini</label><br>
					<input type="radio" name="opcion" value="opcion3" id="opcion3">
					<label for="opcion3">Cammaro</label><br>
					<input type="radio" name="opcion" value="opcion4" id="opcion4">
					<label for="opcion4">Corvete</label><br>
					<input type="radio" name="opcion" value="opcion4" id="opcion4">
					<label for="opcion4">Ferrari</label><br>
					<input type="radio" name="opcion" value="opcion4" id="opcion4">
					<label for="opcion4">Pagani</label><br>
					<input type="radio" name="opcion" value="opcion4" id="opcion4">
					<label for="opcion4">Mclaren 765</label><br>
					<input type="radio" name="opcion" value="opcion4" id="opcion4">
					<label for="opcion4">Bugatti</label><br>
					<br>
					<input type="submit" value="Agregar">
				</form>
			</h2>


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>
	</footer>
	<!-- /footer -->
</body>

</html>