<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<header class="main-header">
		<%- include('./partials/header')%>

	</header>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-mustang.webp" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Ford Mustang</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-lamborghini.jpeg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Lamborghini</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-cammaro.webp" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Cammaro</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-corvete.avif" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Corvete</h2>
							</article>
						</a>
					</section>
				</div>
			</div>
		</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-ferrari.jpeg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Ferrari</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-pagani.jpeg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Pagani</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-mclaren.jpeg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Mclaren 765</h2>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../product">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="images/products/img-bugatti.jpeg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Bugatti</h2>
							</article>
						</a>
					</section>
				</div>
			</div>
		</div>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html">Valenvas: </a> </strong>
								Compré el coche nuevo en 2018, un F-Pace de 180 caballos con  cambio automático. Con 35.000 kms se le fue el turbo y como estaba en garantía me lo cambiaron, o eso me dijeron en el servicio oficial Jaguar Móstoles. Con 90.000 kilómetros lo que se ha averiado es el motor, el turbo y el filtro de partículas, todo ello fuera de garantía. No recomiendo a nadie esta marca, un tractor es más fiable.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Zoraida María: </a> </strong>
									Un coche que con 100.000 km muere el motor y la marca no responde como tal. Le parece bien esa duración de km. Hay otro coche en el concesionario con el mismo problema pero con 50000 Km. Marca deficiente y que mejor no confiar en ella.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Juanjo: </a> </strong>
									Ilusionado con el coche y a los 65.000 km lo llevo hacer su primer ITV y me dicen que hay un ruido fuerte de motor. Lo llevo a Jaguar Alicante, 90€ de diagnóstico y 19.500 € presupuesto para cambiar motor, turbo, válvulas... 4 años tiene. 
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Carlos Sanmartín: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">FABIAN: </a> </strong>
									El motor y el turbo aguantaron 80.000 kilómetros, la reparación entró en la garantía. El segundo motor reventó con 164.000 kilómetros, y el presupuesto era de 24.000 euros, aunque acabé pagando la mitad. Ahora me he quedado tirado por el bloqueo del cambio y el motor de arranque, además los botones del salpicadero y otras palancas se desgastan prematuramente. La verdad es que el coche es muy malo.</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>
	</footer>
	<!-- /footer -->

</body>	
</html>